<div class="admin-layout-wrapper">
  <div class="main-header">
    header

  </div>
  <!-- Side navigation -->
  <div class="sidenav">
    <a href="" class="admin-panel__logo">
      <img src="./assets/admin-panel-logo.png" alt="">
    </a>

    <a href="#" class="sidebar-link">
      Catalog
    </a>
    <a href="#">Sales</a>
    <a href="#">Customers</a>
    <a href="#">Promotions</a>
    <a href="#">Content Management</a>
    <a href="#">System</a>
    <a href="#">Reports</a>
    <a href="#">Helps</a>
  </div>

  <div class="content-wrapper">
    <h1>Admin Dashboard</h1>

  </div>

  <footer class="main-footer">
    footer
  </footer>
</div>

