

.breadcrumb {
  margin: 0 0 20px;
  padding: 5px 10px;
  background-color: #f6f6f6;

  li * {
    display: inline-block;
    margin: 0 5px;
    font-size: 14px;
    line-height: 32px;
  }

  li {
    display: inline-block;
  }

  a {
    color: inherit;
    &:hover {
      color: #4ab2f1;
    }
  }

  strong {
    font-weight: 400;
  }
}

.category-page__wrapper {
  /*
  display: flex;
  */
}

.sidebar {
  width: 25%;
  margin: 0 0 50px;
  float: left;

  .category-nav {

  }
}

/* title */
.title {
  margin: 0;
  border-bottom: 1px solid #ddd;
  background: 0 0;
  cursor: auto;

  padding: 12px 30px 12px 10px;
  font-size: 20px;
  color: #444;

  strong {
    font-weight: 700;
  }
}
/* title end */

.listbox {
  padding: 10px 5px;
}

.list {
  li  {
    padding: 5px 0 5px 15px;
  }

  a {
    color: #444;
    display: inline-block;
    position: relative;
    padding: 5px 0;
    font-size: 16px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;

    &:before {
      content: "";
      position: absolute;
      top: 12px;
      left: -15px;
      width: 5px;
      height: 5px;
      background-color: #ddd;
    }
    &:hover {
      color: #4ab2f1;
    }
  }

}

.view-all {
  margin: 10px 0 0;

  a {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    color: #4ab2f1;
    &:hover {
      text-decoration: underline;
    }
  }
}
/* sidebar end */

/*=============================================*/


/* center */
.center {
  float: right;
  width: 73%;
  margin: 0 0 50px;

  .page-title {
    min-height: 40px;
    margin: 0 0 25px;
    border-bottom: 1px solid #ddd;
    padding: 6px 10px;

    h1 {
      font-size: 30px;
      font-weight: 400;
      color: #444;
    }
  }

}

.sub-categories-list {
  display: flex;
  gap: 10px;
  margin: 0 0 20px;

  .sub-category__item {
    width: 283px;
    height: 220px;

    .sub-category__title {
      text-align: center;
      margin-bottom: 15px;
      font-size: 22px;
      font-weight: 400;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;

      a {
        color: #444444;

        &:hover {
        }
      }
    }
  }
}

