<!--<footer class="footer">
  <img src="./assets/icons/social-networks/facebook-logo.png" alt="">
  <img src="./assets/icons/social-networks/telegram-logo.png" alt="">
  <img src="./assets/icons/social-networks/viber-logo.png" alt="">
  <img src="./assets/icons/social-networks/logo-whatsapp.png" alt="">
</footer>-->


<footer class="footer">

  <div class="footer-upper">
    <div class="footer-block information">
      <div class="title">
        <strong>Information</strong>
      </div>

      <ul class="list">
        <li><a routerLink="/sitemap">Sitemap</a></li>
        <li><a href="#">Shipping &amp; returns</a></li>
        <li><a href="#">Privacy notice</a></li>
        <li><a href="#">Conditions of Use</a></li>
        <li><a routerLink="/about">About us</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>

    </div>
    <div class="footer-block information">
      <div class="title">
        <strong>Customer service</strong>
      </div>

      <ul class="list">
        <li><a href="/search">Search</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/recentlyviewedproducts">Recently viewed products</a></li>
        <li><a href="/compareproducts">Compare products list</a></li>
        <li><a href="/newproducts">New products</a></li>
      </ul>
    </div>
    <div class="footer-block information">
      <div class="title">
        <strong>My account</strong>
      </div>

      <ul class="list">
        <li><a routerLink="/my-account">My account</a></li>
        <li><a href="/order/history">Orders</a></li>
        <li><a href="/customer/addresses">Addresses</a></li>
        <li><a href="/cart">Shopping cart</a></li>
        <li><a href="/wishlist">Wishlist</a></li>
        <li><a href="/vendor/apply">Apply for vendor account</a></li>
      </ul>
    </div>
    <div class="footer-block follow-us">
      <div class="social">
        <div class="title">
          <strong> Follow us </strong>
        </div>

        <div class="networks">
          <a href="https://www.youtube.com" target="_blank" rel="noopener noreferrer">
           <!-- <img width="48" height="48" src="https://img.icons8.com/color/48/youtube-play.png"
                 alt="youtube-play" />-->
            <img src="assets/icons/social-networks/telegram-logo.png">
          </a>

          <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
            <!--<img width="48" height="48" src="https://img.icons8.com/color/48/twitter&#45;&#45;v1.png"
                 alt="twitter&#45;&#45;v1" />-->
            <img src="assets/icons/social-networks/facebook-logo.png">
          </a>

          <a href="https://www.reddit.com/" target="_blank" rel="noopener noreferrer">
            <img src="assets/icons/social-networks/viber-logo.png">
          </a>

          <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
            <img src="assets/icons/social-networks/logo-whatsapp.png">
          </a>
        </div>
      </div>

      <div class="networks">
        <div class="title">
          <strong style="font-size: 20px">Newsletter</strong>
        </div>

        <div style="display: flex">
          <input class="newsletter-subscribe-input" type="text"
                 placeholder="Enter your email here...">
          <button class="newsletter-subscribe-btn">SUBSCRIBE</button>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="footer-lower">
    <a href="https://github.com/Celldweler" target="_blank">
      <div class="footer-lower-items">
        <div class="footer-createdby">Created By Raime</div>
        <img class="raime-footer-avatar" src="https://avatars.githubusercontent.com/u/55654940?v=4"
             width="50px" alt="">
      </div>
    </a>

  </div>
</footer>
